#grid {
  background-color: #ccc;
  height: 480px;
  width: 720px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
}

.pixel {
  background-color: white;
  height: 10px;
  width: 10px;
  border: solid 1px #333;
  float: left;
}

.pixel:nth-of-type(60n+1) {
  clear: left;
}

#palette {
  width: 720px;
  margin: 20px auto;
}

.colorSource {
  height: 20px;
  width: 20px;
  /*border: 1px solid black;*/
  border-radius: 50%;
  margin-right: 5px;
  float: left;
}

#colorIndicatorLabel {
  margin-left: 5px;
  margin-right: 5px;
  float: left;
}

#colorIndicator {
  height: 20px;
  width: 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  float: left;
}
